.connectButton {
    font-weight: 700 !important;
    border-radius: 10px;
    background: transparent;
    color: white;
    border: 0px;
}

.connectButton:hover {
    border: 1px white !important;
    border-style: solid !important;
}

.navTitle {
    color: white;
}

.navTitle:hover {
    color: white !important;
}

.navbarStyle {
    background: transparent !important;
}